*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
header{
    background-color: whitesmoke;
}
h2{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 20px;
    color: #C4DFE6;
    background-color: #003B46;
    text-align: center;
    margin-top: 10PX;
    margin-bottom: 10px; 
}
h3{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 90px ;
}
.titulo{
    height: 100px;
    padding-top: 20px; 
}
.t-stroke{
    color: transparent;
   -moz-text-stroke-width: 2px;
   -webkit-text-stroke-width: 2px;
   -moz-text-stroke-color: #ffffff;
   -webkit-text-stroke-color: #66A5AD;
}
.t-shadow {
    text-shadow: 5px 5px #003B46;
}
nav{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
ul{
    display: inline-block;
    text-align: center;
}
li{
    display: inline-block;
    text-align: center;
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    margin: inline 20px;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
li:hover{
  transform: scale(1.2)
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 200px;
    font-size: 25px;
    color: #C4DFE6;
    background-color: #003B46;
}   
main{
    background-color: rgb(250, 249, 249);
    width: 100%;
}
h1{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 120px;
    color: black ;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 2000ms infinite;
    z-index: 2;
}
@keyframes move {
      0% {
        text-shadow:
          4px -4px 0 #da0641,
          3px -3px 0 #da0641,
          2px -2px 0 #da0641,
          1px -1px 0 #da0641,
          -4px 4px 0 #13f1fc,
          -3px 3px 0 #13f1fc,
          -2px 2px 0 #13f1fc,
          -1px 1px 0 #13f1fc
        ;
      }
      25% {
        text-shadow:
          -4px -4px 0 #13f1fc,
          -3px -3px 0 #13f1fc,
          -2px -2px 0 #13f1fc,
          -1px -1px 0 #13f1fc,
          4px 4px 0 #da0641,
          3px 3px 0 #da0641,
          2px 2px 0 #da0641,
          1px 1px 0 #da0641
        ;
      }
      50% {
        text-shadow:
          -4px 4px 0 #da0641,
          -3px 3px 0 #da0641,
          -2px 2px 0 #da0641,
          -1px 1px 0 #da0641,
          4px -4px 0 #13f1fc,
          3px -3px 0 #13f1fc,
          2px -2px 0 #13f1fc,
          1px -1px 0 #13f1fc
        ;
      }
      75% {
        text-shadow:
          4px 4px 0 #13f1fc,
          3px 3px 0 #13f1fc,
          2px 2px 0 #13f1fc,
          1px 1px 0 #13f1fc,
          -4px -4px 0 #da0641,
          -3px -3px 0 #da0641,
          -2px -2px 0 #da0641,
          -1px -1px 0 #da0641;
      }
      100% {
        text-shadow:
          4px -4px 0 #da0641,
          3px -3px 0 #da0641,
          2px -2px 0 #da0641,
          1px -1px 0 #da0641,
          -4px 4px 0 #13f1fc,
          -3px 3px 0 #13f1fc,
          -2px 2px 0 #13f1fc,
          -1px 1px 0 #13f1fc;
      }
    }
    
.container{
    border: 5px solid black;
    background-color: #040a07;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    border: 1px solid whitesmoke;
    width: 400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
img:hover {
    transform: scale(1.2);
}
.sucursal{
  font-size: 30px;
}
.caja{
  width: 100%;
  height: 600px;
}
.tarjeta{
  margin: 0 auto;
  background: whitesmoke;
  width: 450px;
  margin-left: 5px;
  padding: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border: 2px solid;
  display: inline-block;
}
.mapa{
  width: 400px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

footer{
    background-color: #003B46;
    width: 100%;
    height: 150px;
}
h4{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 25px;
    color: #C4DFE6;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    display: flex;  
}
.iconos{
    display: inline-block;
    display: flex;
    justify-content: center;
    color: #C4DFE6;
    font-size: 50px;
}