*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
  max-width: 1200px- 1800px;
}
header{
    background-color: whitesmoke;
}
h2{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 20px;
    color: #C4DFE6;
    background-color: #003B46;
    text-align: center;
    margin-top: 10PX;
    margin-bottom: 10px; 
}
h3{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 90px ;
}
.titulo{
    height: 100px;
    padding-top: 20px; 
}
.t-stroke{
    color: transparent;
   -moz-text-stroke-width: 2px;
   -webkit-text-stroke-width: 2px;
   -moz-text-stroke-color: #ffffff;
   -webkit-text-stroke-color: #66A5AD;
}
.t-shadow {
    text-shadow: 5px 5px #003B46;
}
nav{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
ul{
    display: inline-block;
    text-align: center;
}
li{
    display: inline-block;
    text-align: center;
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    margin: inline 20px;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
li:hover{
  transform: scale(0.7)
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 200px;
    font-size: 25px;
    color: #C4DFE6;
    background-color: #003B46;
}   
main{
    background-color: rgb(250, 249, 249);
    width: 100%;
}
h1{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 120px;
    color: #003B46;
    text-shadow: 3px 3px #C4DFE6 ;
    text-align: center;
}
 
.container{
    border: 5px solid black;
    background-color: #040a07;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    border: 1px solid whitesmoke;
    width: 400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
img:hover {
    transform: scale(1.1);
}
.sucursal{
  font-size: 30px;
}
.caja{
  display: flex;
}
.tarjeta{
  margin: 0 auto;
  background: whitesmoke;
  margin-left: 2px;
  padding: 2px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.mapa{
  width: 400px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
}

footer{
    background-color: #003B46;
    width: 100%;
    height: 120px;
}
h4{
    font-family: 'SF Old Republic', sans-serif;
    font-family: 'SF Old Republic SC', sans-serif;
    font-size: 20px;
    color: #C4DFE6;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
}
.iconos{
    display: flex;
    justify-content: flex-end;
    color: #C4DFE6;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width:1060px) {
        h1{
            font-size: 100px;
            color: #C4DFE6;
            text-shadow: 1px 1px #003B46;
        }
    }
@media screen and (max-width: 889px) {
    h1{
        font-size: 80px;
        color: #C4DFE6;
        text-shadow: 1px 1px #003B46;
    }
}
@media screen and (max-width: 750px ) {
    nav ul li{
        display: flex;
        flex-direction: column;
    }
    h3{
        display: none;
    }
    .tarjeta iframe{
        display: flex;
        flex-direction: column;
    }
    }
@media  screen and (max-width:730px) {
    h1{
        font-size: 60px;
        color: #C4DFE6;
        text-shadow: 1px 1px #003B46;
    }
}    
@media screen and (max-width: 550px) {
    h1{
        font-size: 40px;
        color: #C4DFE6;
        text-shadow: 1px 1px #003B46;
    }
}
@media screen and(min-width:412px) {
    .tarjeta iframe{
        display: flex;
        flex-direction: column;
    }
    
}